{% extends 'admin-base.html' %} {% block title %} Admin Dashboard {% endblock title %} {% block body %}

<!-- Start Notification Alert Area -->
<div class="notification-alert alert alert-success alert-dismissible fade show" role="alert">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.
	<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- End Notification Alert Area -->

<!-- Start Dashboard Fun Fact Area -->
<div class="dashboard-fun-fact-area">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="stats-fun-fact-box">
				<div class="icon-box">
					<i class="ri-briefcase-line"></i>
				</div>
				<span class="sub-title">User Registrations</span>
				<h3>300</h3>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="stats-fun-fact-box">
				<div class="icon-box">
					<i class="ri-file-list-line"></i>
				</div>
				<span class="sub-title">Job Vacancy</span>
				<h3>1245</h3>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="stats-fun-fact-box">
				<div class="icon-box">
					<i class="ri-chat-2-line"></i>
				</div>
				<span class="sub-title">Contact Messages</span>
				<h3>85</h3>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="stats-fun-fact-box">
				<div class="icon-box">
					<i class="ri-chat-2-line"></i>
				</div>
				<span class="sub-title">Job Applications</span>
				<h3>85</h3>
			</div>
		</div>
	</div>
</div>
<!-- End Dashboard Fun Fact Area -->
{% endblock body %}
