{% extends 'displayjobs.html' %} {% block title %} Display Job[Type]{% endblock title %} {% block parameter %} Job Type
{% endblock parameter%} {% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<div class="job-list-map-sticky">
				<div id="map">
					<iframe
						width="600"
						height="450"
						style="border: 0"
						loading="lazy"
						allowfullscreen
						src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfwmTntrA5zsRFPMcmMccTNU&key=AIzaSyC4Ejrby-vRB2oY30wHyrgagGAjau2XYd4"
					></iframe>
				</div>
			</div>
		</div>

		<div class="col-lg-8 col-md-12 job-list-with-max-width pt-100">
			<div class="job-list-search-box">
				<h3>Find Your Dream Job</h3>

				<form class="job-list-search-form" action="/displayjobs/5/{{user[0][1]}}" method="POST">
					<!-- <div class="row justify-content-center"> -->
					<div class="col-lg-12 col-md-12">
						<label>
							<h2 class="my-3">Job Type :</h2>
						</label>
						<select
							class="form-select form-select-lg selectize-filter mb-3 py-3"
							aria-label=".form-select-lg example"
							name="typeofemployment"
						>
							<option selected></option>
							<option value="Full Time">Full Time</option>
							<option value="Part Time">Part Time</option>
							<option value="Internship">Internship</option>
							<option value="Training">Training</option>
						</select>
					</div>

					<div class="search-btn mt-4">
						<button type="submit"><i class="ri-search-line"></i></button>
					</div>
					<!-- </div> -->
				</form>
			</div>

			<div class="row">
				{% for data in jobdata %}
				<div class="col-lg-6 col-md-6">
					<div class="single-job-list-card">
						<div class="job-information">
							<h3>
								<a href="job-details-1.html">{{data.job_name}}</a>
							</h3>
							<span>{{data.company_name}}</span>

							<div class="bookmark-btn">
								<i class="ri-bookmark-line"></i>
							</div>

							<div class="hover-bookmark-btn">
								<i class="ri-bookmark-fill"></i>
							</div>
						</div>

						<ul class="job-tag-list">
							<li>{{data.job_category}}</li>
							<li class="urgent">Position left : {{data.required_employee}}</li>
							<li class="private">Private</li>
							<li>{{data.employment_type}}</li>
						</ul>

						<ul class="location-information">
							<li><i class="ri-time-line"></i> Expiry Date : {{data.deadline}}</li>
							<li><i class="ri-map-pin-line"></i> {{data.addreass}}</li>
							<li><i class="ri-time-line"></i> {{data.employment_type}}</li>
							<li><i class="ri-time-line"></i> {{data.city}}</li>
							<li><i class="ri-time-line"></i> {{data.country}}</li>
						</ul>

						<div class="job-btn">
							<a href="/jobdetails/{{data.sno}}/{{user[0][1]}}" class="default-btn"
								>Job Details</a>
						</div>
					</div>
				</div>
				{% endfor %}

				<div class="load-more-btn">
					<a href="#" id="loadmore" class="default-btn">Load More </a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
