{% extends "recruitor-base.html" %} {% block title %} Your Dashboard {% endblock title %} {% block body %}

<!-- <div class="row"> -->
    <div class="row job-details-desc">
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Username:</h3>
            <p>{{recruitor.username}}</p>
        </div>
        <div class="job-details-content col-lg-4 col-md-12">
            <h3>Your Email:</h3>
            <p>{{recruitor.email}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Your Current Job-Title:</h3>
            <p>{{recruitor.job_title}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Your Phone Number:</h3>
            <p>{{recruitor.phone}}</p>
        </div>
        <div class="job-details-content col-lg-4 col-md-12">
            <h3>Your Website URL:</h3>
            <p>{{recruitor.website_url}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Your Age:</h3>
            <p>{{recruitor.age}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Your Education Level:</h3>
            <p>{{recruitor.education_lvl}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Experience:</h3>
            <p>{{recruitor.experience}}</p>
        </div>
        <div class="job-details-content col-lg-7 col-md-12">
            <h3>Description:</h3>
            <p>{{recruitor.description}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>City:</h3>
            <p>{{recruitor.user_city}}</p>
        </div>
        <div class="job-details-content col-lg-3 col-md-12">
            <h3>Country:</h3>
            <p>{{recruitor.user_country}}</p>
        </div>
        <div class="job-details-content col-lg-7 col-md-12">
            <h3>Addreass:</h3>
            <p>{{recruitor.user_addreass}}</p>
        </div>
        <div class="job-details-content col-lg-5 col-md-12">
            <h3>Facebook URL:</h3>
            <p>{{recruitor.facebook_url}}</p>
        </div>
        <div class="job-details-content col-lg-5 col-md-12">
            <h3>Twitter URL:</h3>
            <p>{{recruitor.twitter_url}}</p>
        </div>
        <div class="job-details-content col-lg-5 col-md-12">
            <h3>Linked In URL:</h3>
            <p>{{recruitor.linkedin_url}}</p>
        </div>
        <div class="job-details-content col-lg-5 col-md-12">
            <h3>Instagram URL:</h3>
            <p>{{recruitor.insta_url}}</p>
        </div>
        <a class="rahulbs col-lg-3 col-md-12 my-5" href="{{url_for('recruitor_update_profile' , c = recruitor.username)}}">Update Profile</a>
    </div>
    <!-- </div> -->

{% endblock body %}