{% extends "user-base.html" %} {% block title %} Your Messages {% endblock title %} {% block body %}

<h3>Your Messages</h3>
{% for i in range(length)  %}
<div class="job-block-item">
    <div class="row align-items-center">
        <!-- <div class="col-lg-2 col-sm-2">
            <div class="company-box-logo">
                <a href="job-details-1.html"><img src="assets/images/job/job-1.png" alt="image"></a>
            </div>
        </div> -->

        <div class="col-lg-12 col-sm-11">
            <div class="job-list-inner-box">
                <div class="row align-items-center">
                    <div class="col-lg-9">
                        <div class="job-list-box">
                            <div class="job-information">
                                <div class="title-box">
                                    <h3>
                                        <a href="job-details-1.html">{{joblist[i][0][1]}}</a>
                                    </h3>
                                    <span>{{joblist[i][0][4]}}</span>
                                </div>
        
                                <ul class="job-tag-list">
                                    <li>{{joblist[i][0][3]}}</li>
                                    <li class="urgent">{{joblist[i][0][14]}}</li>
                                    <li class="private">{{joblist[i][0][15]}}</li>
                                    <li>{{joblist[i][0][8]}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="job-list-optional">
                            <a href="job-details-1.html" class="default-btn">Confirm </a>
                            
                            <div class="save-text">
                                <span>{{messages[i].date_created}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion mt-3" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading{{i+1}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{i+1}}" aria-expanded="true" aria-controls="collapse{{i+1}}">
                           Click Here to Read Message
                        </button>
                      </h2>
                      <div id="collapse{{i+1}}" class="accordion-collapse collapse" aria-labelledby="heading{{i+1}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          {{messages[i].message}}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock body %}